.container2 {
    text-align: center;
    background-color: white;
}

.banner_background {
  background-color: #bf382a;
}

.row2 {
    display: flex;
    justify-content: space-between;
}

.image_desc {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; */
    border: 2px solid #333;
    /* background-color: grey; */
    padding: 10px;
    margin: 5px;
}

.image_desc p:first-of-type {
  font-weight: 700;
}

.image_desc:hover{
  background-color: grey;
}

.images_worksheet {
  width:80px;
  height:80px;
}

a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    color: black;
}




footer {
    background-color: #333;
    color: white;
    padding: 10px;
    transition: all 0.5s;
  }
  
  footer:hover {
    padding: 20px;
  }
  
  .footer-content {
    margin: 0 auto;
    max-width: 500px;
    text-align: left;
  }
  

  .carousel-inner .carousel-item img {
    transition: opacity 0.5s ease;
  }
  
  .carousel-inner .carousel-item:hover img {
    opacity: 0.7;
  }
  .carousel_colour {
    background-color: black;
  }

.techjam_logo {
  width: 80px;
  height: 80px;
}


.btn-red {
  background-color: #bf382a;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem 2rem 1rem 2rem; 
}

.btn-grey {
  background-color: #9a9999;
  color: #2f2f30;
  border-radius: 0.5rem;
  padding: 1rem 2rem 1rem 2rem; 
}

.btn-black {
  background-color: #2f2f30;
  color: #bf382a;
  border-radius: 0.5rem;
  padding: 1rem 2rem 1rem 2rem; 
}

.btn-black:hover {
  color: #e65a4c;
}

.btn:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}


.images_volunteers {
  height: 175px;
  width: 175px;
}

.volunteers_box {
  border: 2px solid #333;
  padding: 10px;
  margin: 5px;
  border-radius: 50px;
  background-color: #9a9999;
  
}


