.container2 {
    text-align: center;
    background-color: white;
}

.banner_background {
  background-color: #bf382a;
}

.row2 {
    display: flex;
    justify-content: space-between;
}

.image_desc {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; */
    border: 2px solid #333;
    /* background-color: grey; */
    padding: 10px;
    margin: 5px;
}

.images_worksheet {
  width:80px;
  height:80px;
}

a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    color: black;
}




footer {
    background-color: #333;
    color: white;
    padding: 10px;
    transition: all 0.5s;
  }
  
  footer:hover {
    padding: 20px;
  }
  
  .footer-content {
    margin: 0 auto;
    max-width: 500px;
    text-align: left;
  }
  

  .carousel-inner .carousel-item img {
    transition: opacity 0.5s ease;
  }
  
  .carousel-inner .carousel-item:hover img {
    opacity: 0.7;
  }

.techjam_logo {
  width: 80px;
  height: 80px;
}
